<div mat-dialog-title class="dialog-title">
  <p>Eliminar héroe</p>
  <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</div>

<mat-dialog-content>
  <div class="hero-delete">
    <mat-icon>warning</mat-icon>
    <div>
      <p><strong>¿Estás seguro de querer eliminar este héroe?</strong>
        <br>
        Una vez eliminado no podrás revertir esta acción
      </p>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-flat-button>Si, eliminar</button>
</mat-dialog-actions>