<footer>
  <div class="content">

    <div>
      © 2025 SUPERHEROCRUD, Inc
    </div>

    <div>
      <a mat-icon-button href="https://example.com" target="_blank"><i class="fab fa-instagram"></i></a>
      <a mat-icon-button href="https://example.com" target="_blank"><i class="fab fa-youtube"></i></a>
      <a mat-icon-button href="https://example.com" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a mat-icon-button href="https://example.com" target="_blank"><i class="fab fa-facebook"></i></a>
      <a mat-icon-button href="https://example.com" target="_blank"><i class="fab fa-x-twitter"></i></a>
    </div>

  </div>
</footer>