<div class="c-search">
  <form class="c-search__form" [formGroup]="searchForm" (submit)="onSearchSubmit()">
    <mat-form-field class="c-search__form-bar" subscriptSizing="dynamic" appearance="outline">
      <mat-label>Busca un héroe</mat-label>
      <input matInput type="search" placeholder="Busca un héroe" formControlName="search">
      <button matSuffix mat-icon-button type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <button mat-flat-button (click)="openAddDialog()"><mat-icon>add</mat-icon>Crear nuevo héroe</button>
</div>

<div class="c-header">
  <h1>Héroes más allá de la imaginación</h1>
  <p>Desd tiempos inmemoriales, la humanidad ha soñado con figuras extraordinarias <br> capaces de desafiar los límities
    de la realidad. </p>
</div>

<div class="c-grid">
  @for (hero of heroes(); track hero.id) {
  <app-hero-card (onDelete)="openDeleteDialog($event)" (onEdit)="openEditDialog($event)" [heroInfo]="hero" />
  } @empty {
  <div class="c-not-found">
    <mat-icon class="c-not-found__icon">question_mark</mat-icon>
    <div>No se han encontrado heroes</div>
  </div>
  }
</div>
