.dialog-title,
mat-dialog-actions {
  display: flex;
  align-items: center;
}


.dialog-title {
  justify-content: space-between;
}

mat-dialog-actions {
  justify-content: flex-end;
}

.hero-delete {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 2em;
}
