<mat-card class="card" appearance="raised">
  <img mat-card-image src="{{heroInfo()?.imageUrl}}" alt="Photo of a superhero">
  <mat-card-content>
    <h3>{{heroInfo()?.name}}</h3>
    <p>
      @for (hability of heroInfo()?.habilities; track $index) {
      {{hability}}
      }
    </p>
    <p>{{heroInfo()?.description}}</p>
    <small><mat-icon style="scale: 0.75;">location_on</mat-icon> {{heroInfo()?.location}}</small>
  </mat-card-content>
  <mat-card-actions>
    <!-- TODO: pass self reference or id to delete -->
    <button mat-button (click)="openDeleteHeroForm()">Eliminar</button>
    <button mat-flat-button><mat-icon>edit</mat-icon> Editar</button>
  </mat-card-actions>
</mat-card>