<mat-card class="card" appearance="raised">
  <img mat-card-image src="{{heroInfo()?.imageUrl}}" alt="Photo of a superhero">
  <mat-card-content>
    <h3>{{heroInfo()?.name}}</h3>
    <p>{{heroInfo()?.powers}}</p>
    <p>{{heroInfo()?.description}}</p>
    <small><mat-icon style="scale: 0.75;">location_on</mat-icon> {{heroInfo()?.location}}</small>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openDeleteHeroForm(heroInfo())">Eliminar</button>
    <button mat-flat-button><mat-icon>edit</mat-icon> Editar</button>
  </mat-card-actions>
</mat-card>