.c-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;

    &--full-width {
      grid-column: 1/-1;
    }
  }

  &__field {
    margin-top: 1rem;

    &--full-width {
      grid-column: 1/-1;
    }
  }
}

.c-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.success {
  background-color: rgb(66, 255, 167);
}

.fail {
  background-color: rgb(206, 80, 80);
}